*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FDF4FA;
}

/*Topo do site*/
header{
    background-color: #D13A65;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
header .barra-pesquisa{
    width: 40%;
    height: 50%;
}
header .barra-pesquisa input{
    width: 85%;
    height: 50px;
    background-color: #FDF4FA;
    border: none;
    padding: 1rem; 
    border-radius: 4px;
}
header .barra-pesquisa button{
    background-color: #FDF4FA;
    height: 50px;
    padding: 0.3rem;
    border: none;
    border-radius: 4px;
}

#menu-topo{
    width: 20%;
}
#menu-topo ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
#menu-topo li{
    cursor: pointer;
}
